</body>
<footer>
    <div class="row justify-content-center">
        <hr class="solid">
        <div class="col-sm-1">
            <img src="/assets/black.png" class="img-fluid" alt="Logo"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto"><b>STATS.GG creators</b></div>
        <div class="row justify-content-center" style="padding-bottom: 1%;">
            <div class="col-md-auto">Andrew Dang</div>
            <div class="col-md-auto">Derek Renzema</div>
            <div class="col-md-auto">Nathan Klump</div>
            <div class="col-md-auto">Peter Luey</div>
        </div>
    </div>
    
    <div class="fixed-bottom">
        <div class="row float-start">
            <div class="col-md-auto" id="topBtn-container">
                <a id="topBtn" href="#top" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Top</a>
            </div>
        </div>
    </div>
</footer>
</html>