<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-sm">
    <a href="/" class="navbar-brand">STATS.GG</a>

    <!-- Hamburger Button -->
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <!-- Games Page -->
        <li class="nav-item">
          <a href="\games\" class="nav-link" title="Games">Games</a>
        </li>

        <!-- Teams Page -->
        <li class="nav-item">
          <a href="\teams\" class="nav-link" title="Teams">Teams</a>
        </li>

        <!-- Players Page -->
        <li class="nav-item">
          <a href="\players\" class="nav-link" title="Players">Players</a>
        </li>

        <!-- Users Page -->
        <li class="nav-item">
          <a href="\users\" class="nav-link" title="User">Users</a>
        </li>
      </ul>
    </div>
    
     <!-- Hamurger Menu -->
     <script
     src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
     crossorigin="anonymous"
   ></script>
</nav>
