#main-page-header {
    text-align: center;
}

#background-container {
    align-content: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.team-name-row-header {
    margin: 1rem;
    margin-left: 0;
}

.player-card {
    /* min-width: 400px; */
    align-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    background-color: rgb(221, 77, 77);
    color: white;
}

.player-name {
    text-align: center;
    color: black;
    font-weight: bolder;
}

figure {
    margin-bottom: 0;
}

.portrait-image {
    background-color: #aaaaaa;
    width: 100%;
    height: auto;
    /* min-width: calc(100% - 30px); */
}

.player-stats {
    background-color: black;
    padding: 0.5rem;
    /* min-width: calc(100% - 30px); */
}